
.icon-template-logo {
	background-image: url('png/template-logo.png');
	background-repeat: no-repeat;
}

.dropDown {
	background-image: url('png/form-select-arrows.png');
	background-repeat: no-repeat;
}