.icon-template-logo {
	background-image: url('png/template-logo.png');
	background-repeat: no-repeat;
}
.dropDown {
	background-image: url('png/form-select-arrows.png');
	background-repeat: no-repeat;
}
.sliderArrowRight {
  background-image: url('png/slider-arrow-right.png');
  background-repeat: no-repeat;
}

.sliderArrowLeft {
  background-image: url('png/slider-arrow-left.png');
  background-repeat: no-repeat;
}

.sliderArrowLeft {
  background-image: url('png/sliderArrowLeft.png');
  background-repeat: no-repeat;
}

.sliderArrowRight {
  background-image: url('png/sliderArrowRight.png');
  background-repeat: no-repeat;
}