
.icon-template-logo {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACUAAAAlCAYAAADFniADAAABaElEQVRYR82XQU7DMBBFZyqxRCrrFlFE2bcnAW4AJwBuUk4AR6AnAdZJpaAkEjsqsYxkkyI1kombGUfKeLL2WM/z/B0bIfCz04sV4OieLjM3mG9e9+Ps5PIWRvBM1lnzhOSgfwPsdJ4B4hlVh3nizG1P5zUgXlF1YGAZBFWvdlGv9o2cGOwa8/S66dJ4Nobjo2+yztpPLNJZGBRXnYE7LJOXXuqKzUMgFE8d/FQnuM22DVSIujJ5Z0NJqdsthA8lpC4QSkYdG0pSHR9KUF0AlJw6FpS0Oh6UsDomlKw6EiqGOhoqgjoGlLy6Tqjh1cEHFsnCd505+O9j3zD7XlOMfcQyXQVCDayuqs7xK8vYUDHVHdxTMdV1QMVT54WKrc4PNfSB2ZG6/aZvHQncd13vx0FH6rxQGtS19MVOnb9TzCf5kOqcTmlR50IpSF1Ln4bUOVCa1DX6tKTO7ZSS1DVQ2tT96dOmbgf1C4qJ2HILmEU7AAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
  background-position: 0 center;
}