 
// ========================== Variables

$largeSpace: 60px;
$mediumSpace: 40px;
$smallSpace: 20px;
$extraSmallSpace: 10px;

$helvetica: 'Helvetica Neue', 'Arial', Sans-Serif;


$primaryColor: #3D424D;
$secondaryColor: #6DE104;

$primaryBorderRadius: 3px;
$borderWidth: 1px;
$uiBorders: solid $borderWidth #BEBEBE;
$textShadow: 1px 2px 0 rgba(0, 0, 0, 0.2);

$navBreak: 1040;
$extraSmall: 400;
$small: 500;
$medium: 800;
$large: 1000;
$extraLarge: 1200;

// ========================== Mixins

@mixin sprite($pos) {
  background-image: url(../images/sprite.png);
  background-image: 
    linear-gradient(transparent, transparent),
    url(../images/sprite.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: $pos;
}

@mixin break($point) {
  @media (max-width: $point + px) { @content; }
}

@mixin rangebreak($min, $max) {
  @media (min-width: $min + px) and (max-width: $max + px) { @content; }
}

// ========================== Other high level items

.clearFix:after {
  content: "";
  display: table;
  clear: both;
}

hr {
  background-color: #CCC;
  border: none;
  height: 1px;
  margin-bottom: $largeSpace;
  &.noSpace {
    margin-bottom: 0;
  }
}

img {
  height: auto;
  max-width: 100%;
  &.left {
    float: left;
    margin: 0 30px 30px 0;
  }
  &.right {
    float: right;
    margin: 0 0 30px 30px;
  }
}

// ========================== Common

.textRight {
  text-align: right;
}

.center {
  text-align: center;
  img {
    margin-bottom: $smallSpace;
  }
}