.burger {
  position: absolute;
  padding: 10px;
  right: 10px;
  top: 4px;
  display: none;
  li {
    width: 30px;
    height: 4px;
    background-color: $primaryColor;
    border-radius: 3px;
    margin: 5px 0;
  }
  .open li {
    background-color: darken($primaryColor, 15%);
  }
  @include break($navBreak) {
    display: block;
  }
}
nav {
  @include break($navBreak) {
    height: 100%;
    position: fixed;
    top: 0;
    margin: 0;
    background-color: darken($primaryColor, 10%);
    width: 100%;
  }
  &.mobile {
    display: none;
    > ul {
      float: right;
      height: 100%;
      overflow-y: auto;
      width: 240px;
      li {
        padding: 0 30px;
        display: block;
        a {
          color: #fff;
          padding: 0;
        }
        .subLevelOne {
          background-color: darken($primaryColor, 15%);
          box-shadow: none;
          border-radius: 0;
          position: relative;
          left: -30px;
          width: 134%;
          li a {
            padding: 3px 0;
          }
          > li {
            &:after {
              top: 13px;
            }
          }
        }
        [class^='subLevel'] li:hover .subLevelTwo {
          background-color: darken($primaryColor, 20%);
          border-radius: none;
          box-shadow: inset 0 0 14px rgba(0, 0, 0, .3);
          left: -30px;
          margin-top: 10px;
          position: relative;
          width: 133%;
        }
        &.hasChildren:hover {
          background-color: transparent;
        }
      }
      > li {
        &:after {
          -ms-transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);  
        }
        // [class^='subLevel'] li:hover:after {
        //     content: '';
        //     -ms-transform: rotate(90deg);
        //     -webkit-transform: rotate(90deg);
        //     transform: rotate(90deg);
        // }
      }
    }
    @include break($navBreak) {
      display: block;
    }
    .hasChildren {
      &:hover:after {
        content: '';
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
      }
      &:after {
        background-image: url(../images/sprite.png);
        background-image: url(../images/sprite.svg);
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 1px -147px;
        content: '';
        height: 15px;
        position: absolute;
        right: 20px;
        top: 26px;
        width: 9px;
      }
    }
  }
}

body {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  
  -moz-tap-highlight-color:rgba(0,0,0,0); 
  -moz-text-size-adjust: none;
  -moz-font-smoothing: antialiased;
  
  -ms-tap-highlight-color:rgba(0,0,0,0); 
  -ms-text-size-adjust: none;
  -ms-font-smoothing: antialiased;
}


.outerWrap {
  background-color: #EAEAEA;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 1;
/*  Prevents Flickering  */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

@include break($navBreak) {


// CONTENT ANNIMATION
.outerWrap {
  position: relative;
  z-index: 1;
}

// Content Sliding Open Effect
.outerWrap.open {   
  -webkit-transform: translate3d(-240px,0,0);
  -webkit-animation: open .5s ease-in-out;
  
  -moz-transform: translate3d(-240px,0,0);
  -moz-animation: open .5s ease-in-out;
  
  transform: translate3d(-240px,0,0);
  animation: open .5s ease-in-out;
}
@-webkit-keyframes open {
  0%      {-webkit-transform: translate3d(0,0,0);}
  70%    {-webkit-transform: translate3d(-260px,0,0);}
  100%  {-webkit-transform: translate3d(-240px,0,0);}
}
@-moz-keyframes open {
  0%      {-moz-transform: translate3d(0,0,0);}
  70%    {-moz-transform: translate3d(-260px,0,0);}
  100%  {-moz-transform: translate3d(-240px,0,0);}
}
@keyframes open {
  0%      {transform: translate3d(0,0,0);}
  70%    {transform: translate3d(-260px,0,0);}
  100%  {transform: translate3d(-240px,0,0);}
}

// Content Sliding Closed Effect
.outerWrap.close {
  -webkit-transform: none;
  -webkit-animation: close .3s ease-in-out;
  -moz-transform: none;
  -moz-animation: close .3s ease-in-out;
  transform: none;
  animation: close .3s ease-in-out;
}
@-webkit-keyframes close {
  0%      {-webkit-transform: translate3d(-240px,0,0);}
  100%  {-webkit-transform: none;}
}
@-moz-keyframes close {
  0%       {-moz-transform: translate3d(-240px,0,0);}
  100%  {-moz-transform: none;}
}
@keyframes close {
  0%       {transform: translate3d(-240px,0,0);}
  100%  {transform: none;}
}

}