.mainWrap {
  background-color: #FFF;
  margin: 0 auto;
  max-width: 960px;
  padding: $largeSpace;
  width: 90%;
}
header {
  @extend .mainWrap;
  background-color: transparent;
  padding: $mediumSpace 0;
  h1 {
    float: left;
  }
}
aside {
  .nav {
    li {
      border-bottom: solid 1px #EAEAEA;
      &:first-child {
        border-top: solid 1px #EAEAEA;
      }
    }
    a {
      display: inline-block;
      padding: 10px 20px;
    }
  }
}
nav {
  float: right;
  line-height: 3.5;
  a {
    display: inline-block;
    padding: 5px 10px;
  }
}
img {
  height: auto;
  max-width: 100%;
  &.left {
    float: left;
    margin: 0 30px 30px 0;
  }
  &.right {
    float: right;
    margin: 0 0 30px 30px;
  }
}
.center {
  text-align: center;
  img {
    margin-bottom: $mediumSpace;
  }
}
h1 {
  padding-left: 50px;
}
.bullets li {
  margin-left: 15px;
  list-style-type: disc;
  &.bulletsSecondary {
    list-style-type: none;
    li {
      margin-left: 25px;
      list-style-type: circle;
    }
  }
}
.numbered li {
  margin-left: 15px;
  list-style-type: decimal;
  &.numberedSecondary {
    list-style-type: none;
    li {
      margin-left: 25px;
      list-style-type: lower-roman;
    }
  }
}
blockquote {
  border-bottom: solid 1px #EAEAEA;
  border-top: solid 1px #EAEAEA;
  font-size: $baseFontSize + 5;
  margin-bottom: $mediumSpace;
  padding: $mediumSpace $largeSpace;
  &.block {
    color: #333;
    font-size: $baseFontSize;
    font-style: italic;
  }
  .name {
    color: #5b5b5b;
    display: block;
    font-size: $baseFontSize - 3;
    font-style: normal;
    margin-top: $smallSpace;
    &:before, &:after {
      content: '';
    }
  }
  span {
    position: relative;
    &:after {
      content: '\201D';
      right: -13px;
      top: -5px;
    }
  }
  span {
    position: relative;
    &:before {
      content: '\201C';
      left: -13px;
      position: absolute;
      top: -5px;
      text-indent: 0;
    }
  }
}


