.mainWrap {
  background-color: #FFF;
  margin: 0 auto;
  max-width: 1200px;
  padding: $largeSpace;
  width: 90%;
}
header {
  @extend .mainWrap;
  background-color: transparent;
  padding: $mediumSpace 0;
  h1 {
    float: left;
  }
}
aside {
  .nav {
    li {
      border-bottom: solid 1px #EAEAEA;
      &:first-child {
        border-top: solid 1px #EAEAEA;
      }
    }
    a {
      display: inline-block;
      padding: 10px 20px;
    }
  }
}
nav {
  float: right;
  line-height: 3.5;
  a {
    display: inline-block;
    padding: 5px 10px;
  }
}
img {
  height: auto;
  max-width: 100%;
  &.left {
    float: left;
    margin: 0 30px 30px 0;
  }
  &.right {
    float: right;
    margin: 0 0 30px 30px;
  }
}
.center {
  text-align: center;
  img {
    margin-bottom: $mediumSpace;
  }
}
.dividers [class*='col-'] {
  border-right: solid 1px #CCC;
  &:last-of-type {
    border: none;
  }
}

// common

.textRight {
  text-align: right;
}

// layout

.unevenColumns {
  .col-1-3 {
    margin-bottom: 20px;
    @include break(1000) {
      width: 50%;
    }
  }
  .clearFix:after {
    content: '';
    clear: none;
    @include break(1000) {
      clear: both;
    }
  }
}

// lists

.bullets {
  margin-left: $mediumSpace;
  li {
    margin-left: 15px;
    list-style-type: disc;
    &.bulletsSecondary {
      list-style-type: none;
      li {
        margin-left: 25px;
        list-style-type: circle;
      }
    }
  }
}
.numbered {
  margin-left: $mediumSpace;
  li {
    margin-left: 15px;
    list-style-type: decimal;
    &.numberedSecondary {
      list-style-type: none;
      li {
        margin-left: 25px;
        list-style-type: lower-roman;
      }
    }
  }
}

// Forms

form {
  button {
    float: right;
    margin-right: 0;
    &.left {
      float: none;
    }
    &:last-child {
      margin-right: $smallSpace;
    }
  }
}
button, a.button {
  border: none;
  background-color: $primaryColor;
  border-radius: $primaryBorderRadius;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  margin-right: $smallSpace;
  &.full {
    margin-bottom: $smallSpace;
    margin-right: 0;
    width: 100%;
    &:last-child {
      margin-bottom: 0;
      margin-right: 0;
    }
  }
  &.alternate {
    background-color: #999;
    &:hover {
      background-color: #555;
    }
  }
  &:last-of-type {
    margin-right: 0;
  }
  padding: 8px 20px;
  &.large {
    padding: 15px 25px;
  }
  &:hover {
    background-color: darken($primaryColor, 20%);
    text-decoration: none;
  }
}
input, textarea, .dropDown {
  border: solid 1px #BEBEBE;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  margin-bottom: $mediumSpace;
  padding: 6px 10px;
  width: 100%;
  &:last-child:not(.keepMargin) {
    margin-bottom: 0;
  }
}
label {
  display: block;
  padding: 7px 10px;
  .noMargin & {
    text-align: right;
  }
}
.dropDown {
  background-position: right center;
}
form input[type="checkbox"],
form input[type="radio"] {
  margin-right: 10px;
  width: auto;
}
.bulletsCheckboxes {
  li {
    display: table;
    label {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

// Icons

.icon-template-logo {
  background-position: 0 20px;
}
.accButton, .arrowUp {
  background-position: right center;
}
// Banner / Slider

.owl-prev div, .owl-next div {
  height: 60px;
  width: 30px;
}
.owl-prev {
  left: 30px;
  position: absolute;
}
.owl-next {
  right: 30px;
  position: absolute;
}
.owl-controls {
  width: 100%;
}
.owl-item > img {
  display: block;
}
.sliderArrowLeft {
  @include sprite(0px -60px);
}
.sliderArrowRight {
  @include sprite(0 0);
}

// Tabs

.tabs {
  @extend .clearFix;
  > div {
    border: $uiBorders;
    border-right: none;
    cursor: pointer;
    float: left;
    font-weight: bold;
    padding: 5px 15px;
    &.current {
      border-bottom: solid $borderWidth #fff;
      cursor: default;
    }
    &:last-of-type {
      border-right: $uiBorders;      
    }
  }
}
.panels {
  border: $uiBorders;
  margin-top: -$borderWidth;
  > div {
    display: none;
    padding: $mediumSpace;
    &.current {
      display: block;
    }
  }
}

// Accordions

.accButton {
  border-left: $uiBorders;
  border-right: $uiBorders;
  border-bottom: $uiBorders;
  cursor: pointer;
  font-weight: bold;
  padding: 8px 50px 8px $mediumSpace;
  position: relative;
  &.active {
    border-bottom: $uiBorders;
  }
  &:first-of-type {
    border-top: $uiBorders;
  }
  &:last-of-type {
    border-bottom: none;
  }
  &:after {
    @include sprite(0px -135px);
    content: '';
    height: 11px;
    right: 24px;
    position: absolute;
    margin-top: -4px;
    top: 50%;
    width: 16px;
  }
  &.arrowUp:after {
    background-position: 0 -119px;
  }
}
.accPanel {
  border: $uiBorders;
  border-top: none;
  display: none;
  padding: $mediumSpace;
  &.current {
    display: block;
  }
}



