$helvetica: 'Helvetica Neue', 'Arial', Sans-Serif;

body {
  background-color: #EAEAEA;
  color: #5b5b5b;
  font-size: $baseFontSize;
  font-family: $helvetica;
  line-height: $baseLineHeight;
  -webkit-font-smoothing: antialiased;
}
a {
  color: $primaryColor;
  text-decoration: none;
}
a:visited {
  color: #464646;
}
a:hover {
  color: darken($primaryColor, 20%);
  text-decoration: underline;
}
p {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
  &.margin {
    margin-bottom: 20px;
  }
}
h1,
h2,
h3,
h4 {
  color: #111;
  font-weight: bold;
  font-family: $helvetica;
  line-height: $baseLineHeight -.3;
  margin-bottom: $smallSpace;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}
blockquote {
  border-bottom: solid 1px #EAEAEA;
  border-top: solid 1px #EAEAEA;
  font-size: $baseFontSize + 5;
  margin-bottom: $mediumSpace;
  padding: $mediumSpace $largeSpace;
  &.block {
    color: #333;
    font-size: $baseFontSize;
    font-style: italic;
  }
  .name {
    color: #5b5b5b;
    display: block;
    font-size: $baseFontSize - 3;
    font-style: normal;
    margin-top: $smallSpace;
    &:before, &:after {
      content: '';
    }
  }
  span {
    position: relative;
    &:after {
      content: '\201D';
      right: -13px;
      top: -5px;
    }
  }
  span {
    position: relative;
    &:before {
      content: '\201C';
      left: -13px;
      position: absolute;
      top: -5px;
      text-indent: 0;
    }
  }
}