$helvetica: 'Helvetica Neue', 'Arial', Sans-Serif;

body {
  background-color: #EAEAEA;
  color: #5b5b5b;
  font-size: 16px;
  font-family: $helvetica;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
a {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: #464646;
}
a:hover {
  color: blue;
  text-decoration: underline;
}
p {
  margin-bottom: 20px;
  &:last-of-type {
    margin-bottom: 0;
  }
}
h1,
h2,
h3,
h4 {
  color: #111;
  font-weight: bold;
  font-family: $helvetica;
  line-height: 1.2;
  margin-bottom: $smallSpace;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}