
// ========================== Lists

.bullets {
  margin-left: $smallSpace;
  li {
    margin-left: 15px;
    list-style-type: disc;
    &.bulletsSecondary {
      list-style-type: none;
      li {
        margin-left: 25px;
        list-style-type: circle;
      }
    }
  }
}

.numbered {
  margin-left: $smallSpace;
  li {
    margin-left: 15px;
    list-style-type: decimal;
    &.numberedSecondary {
      list-style-type: none;
      li {
        margin-left: 25px;
        list-style-type: lower-roman;
      }
    }
  }
}

// ========================== Forms and Buttons

form {
  button {
    float: right;
    margin-right: 0;
    &.left {
      float: none;
    }
    &:last-child {
      margin-right: $extraSmallSpace;
    }
  }
}

button,
a.button,
input[type='submit'] {
  border: none;
  background-color: $primaryColor;
  border-radius: $primaryBorderRadius;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  margin-right: $extraSmallSpace;
  padding: 8px 20px;
  text-align: center;
  &.full {
    margin-bottom: $extraSmallSpace;
    margin-right: 0;
    width: 100%;
    &:last-child {
      margin-bottom: 0;
      margin-right: 0;
    }
  }
  &.alternate {
    background-color: #999;
    &:hover {
      background-color: #555;
    }
  }
  &:last-of-type {
    margin-right: 0;
  }
  &.large {
    padding: 15px 25px;
  }
  &:hover {
    background-color: darken($primaryColor, 20%);
    text-decoration: none;
  }
}

input[type="text"],
textarea,
.dropDown {
  border: solid 1px #BEBEBE;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: $smallSpace;
  padding: 6px 10px;
  -webkit-appearance: none;
  width: 100%;
  &:last-child:not(.keepMargin) {
    margin-bottom: 0;
  }
}

label {
  display: block;
  padding: 7px 10px;
  .noMargin & {
    text-align: right;
  }
}

.dropDown {
  background: transparent url(/images/select-dropdown-arrows.svg) no-repeat center right;
}

form input[type="checkbox"],
form input[type="radio"] {
  margin-right: 10px;
  width: auto;
}

.bulletsCheckboxes {
  li {
    display: table;
    label {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

// ========================== Icons

[class^='icon'] {
  padding-left: 20px;
  position: relative;
  &:before {
    @include sprite(0 0);
    content: '';
    display: inline-block;
    position: absolute;
    height: 15px;
    left: 0;
    top: 5px;
    width: 15px;   
  }
}

.accButton, .arrowUp {
  background-position: right center;
}

// ========================== Banner / Slider

.owl-prev div, .owl-next div {
  height: 60px;
  width: 30px;
}

.owl-prev {
  left: 30px;
  position: absolute;
}

.owl-next {
  right: 30px;
  position: absolute;
}

.owl-controls {
  width: 100%;
}

.owl-item > img {
  display: block;
}

.sliderArrowLeft {
  @include sprite(0px -60px);
}

.sliderArrowRight {
  @include sprite(0 0);
}

// ========================== Tabs

.tabs {
  @extend .clearFix;
  > div {
    border: $uiBorders;
    border-right: none;
    cursor: pointer;
    float: left;
    font-weight: bold;
    padding: 5px 15px;
    &.current {
      border-bottom: solid $borderWidth #fff;
      cursor: default;
    }
    &:last-of-type {
      border-right: $uiBorders;      
    }
  }
}

.panels {
  border: $uiBorders;
  margin-top: -$borderWidth;
  > div {
    display: none;
    padding: $smallSpace;
    &.current {
      display: block;
    }
  }
}

// ========================== Accordions

.accButton {
  border-left: $uiBorders;
  border-right: $uiBorders;
  border-bottom: $uiBorders;
  cursor: pointer;
  font-weight: bold;
  padding: 8px 50px 8px $smallSpace;
  position: relative;
  &.active {
    border-bottom: $uiBorders;
  }
  &:first-of-type {
    border-top: $uiBorders;
  }
  &:last-of-type {
    border-bottom: none;
  }
  &:after {
    @include sprite(0px -135px);
    content: '';
    height: 11px;
    right: 24px;
    position: absolute;
    margin-top: -4px;
    top: 50%;
    width: 16px;
  }
  &.arrowUp:after {
    background-position: 0 -119px;
  }
}

.accPanel {
  border: $uiBorders;
  border-top: none;
  display: none;
  padding: $smallSpace;
  &.current {
    display: block;
  }
}
